.wrapper_modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 1;

  padding: 36px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay_modal {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.container_modal {
  position: relative;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;

  min-width: 300px;
}
